@inherits LayoutComponentBase

<div class="empty-layout">
    @Body
</div>

<style>
    .empty-layout {
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
    }
</style>
