<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FutZoneFrontend</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="home" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/dashboard">
                <span class="bi bi-speedometer2" aria-hidden="true"></span> Dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/roles">
                <span class="bi bi-person-badge" aria-hidden="true"></span> Roles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/empresas">
                <span class="bi bi-building" aria-hidden="true"></span> Empresas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes/equipos">
                <span class="bi bi-envelope" aria-hidden="true"></span> Solicitudes Equipos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="solicitudes/torneos">
                <span class="bi bi-envelope-open" aria-hidden="true"></span> Solicitudes Torneos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="empresa/canchas">
                <span class="bi bi-football" aria-hidden="true"></span> Mis Canchas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="">
                <span class="bi bi-box-arrow-in-right-nav-menu" aria-hidden="true"></span> Iniciar Sesión
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register">
                <span class="bi bi-person-plus-fill-nav-menu" aria-hidden="true"></span> Registro
            </NavLink>
        </div>
    </nav>
</div>
