@page "/home"
@inject NavigationManager Navigation

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<button class="btn btn-primary" @onclick="GoToSelectTeam">Go to Select Team</button>

@code {
    private void GoToSelectTeam() {
        Navigation.NavigateTo("/select-team");
    }
}